/* GERAL */
:root{
    --fontePrimaria : Roboto ;
    --corPrimaria: #696d72 ;
    --corSecundaria: #8E3BDB ;
    --htmlCor : #e77400 ;
    --cssCor : #0064e7 ;
    --jsCor : #e7e700 ;
    --corBranca: white ;
    --corPreta : rgb(39, 36, 36) ; 
    --corCode : rgb(146, 167, 225) ; 
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

*{
    font-family: Roboto ;
}

a{
    text-decoration: none;
}

/* HEADER */
.bg-home{
    background-color: var(--corPrimaria);
}

.bg-html{
    background-color: var(--htmlCor);
}

.bg-css{
    background-color: var(--cssCor);
}

.bg-js{
    background-color: var(--jsCor);
}

.bg-js a,.bg-js span,.bg-js h5{
    color: var(--corPreta)!important;
}

#logo img{
    height: 24px;
}

.active{
    background-color: var(--corBranca)!important;
    color: var(--corPrimaria)!important;
}

.nav-link:hover{
    text-decoration: underline;
}

/* MAIN */
/* Codigos de estilização associados as caixas de texto para demonstração de códigos */
main{
    flex-grow: 1;
}

.topicDesc img{
    margin: 20px 0px;
}

.code{
    resize: none;
    background-color: var(--corPreta) ;
    color: var(--corCode);
}

.codeName{
    background-color: var(--corPreta);
    border-radius: 10px 10px 0px 0px;
    color: var(--corBranca);
}

.CodeImportant{
    background-color: var(--corSecundaria);
    color: var(--corBranca);
}

::-webkit-scrollbar{
    display: none;
}

.code h4{
    background-color: var(--black) ;
    color: var(--corBranca);
}

/* FOOTER */
.footer-fixed{
    position: absolute;
    bottom: 0%;
    left: 0%;
}